body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

.section {
    color: white;
    border-bottom: 8px solid rgb(37, 36, 36);
    padding: 20px;
}

.header {
    height: 50vh;
    background-image: url("Images/netflix_main.jpeg");
    border: none;
}

.header img {
    padding-left: 100px;
    height: 50px;
    width: 150px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    text-align: left;
}

.text-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    font-size: 24px;
    color: white;
}

.image-content1 {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}

.image-content1 img {
    z-index: 2;
    max-width: 600px;
    max-height: 600px;
}

.tv-video {
    z-index: 1;
    padding-right: 6px;
    padding-bottom: 15px;
    position: absolute;
    width: 436px;
    height: 250px;
    border: none;
}

.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    text-align: left;
}

.text-content2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 150px;
    font-size: 24px;
    color: white;
}

.image-content2 {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}

.image-content2 img {
    z-index: 2;
    max-width: 600px;
    max-height: 600px;
}

.tv-video2 {
    z-index: 1;
    padding-right: 6px;
    padding-bottom: 150px;
    position: absolute;
    width: 360px;
    height: 250px;
    border: none;
}

.container3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    text-align: left;
}

.text-content3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    font-size: 25px;
    color: white;
}

.image-content3 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}

.image-content3 img {
    max-width: 600px;
    max-height: 600px;
}

.container4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    text-align: left;
    border: none;
}

.text-content4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 150px;
    font-size: 24px;
    color: white;
}

.image-content4 {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}

.image-content4 .oldImage {
    max-width: 600px;
    max-height: 600px;
}

.image-content4 .newImage {
    position: absolute;
    width: 350px;
    height: 100px;
    padding-top: 275px;
}

.image-content4 .moveImage {
    position: absolute;
    padding-top: 275px;
    padding-left: 250px;
    width: 50px;
    height: 50px;
}
